@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');


/*padding: top right bottom left*/

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    background-color: var(--light-gray);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 20rem;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
}

.qr-image {
    max-width: 90%;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.title {
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: "Outfit";
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding: 1.5rem 1rem 0 1rem;
}

.paragraph {
    background-color: var(--white);
    color: var(--grayish-blue);
    font-family: "Outfit";
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    padding: 1rem 1.5rem 3rem 1.5rem;
}


.footer {
    font-size: 11px;
    text-align: center;
    padding: 1rem;
}


.footer a {
    color: hsl(228, 45%, 44%);
}